.mdl-typography--display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px; }

.mdl-typography--display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 54px; }

.mdl-typography--display-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 700; }

.mdl-typography--display-4 {
  font-family: 'Montserrat', sans-serif; }

.mdl-typography--headline {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }

.mask {
  font-size: 3vh;
  padding-left: 20px; }

.header {
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%), url(../img/backgraund.jpeg) no-repeat;
  background: -webkit-gradient(linear, left top, right bottom, from(#880e4f), color-stop(90%, #4a148c)), url(../img/backgraund.jpeg) no-repeat;
  background: -webkit-linear-gradient(left top, #880e4f, #4a148c 90%), url(../img/backgraund.jpeg) no-repeat;
  background: -o-linear-gradient(left top, #880e4f, #4a148c 90%), url(../img/backgraund.jpeg) no-repeat;
  background: linear-gradient(to right bottom, #880e4f, #4a148c 90%), url(../img/backgraund.jpeg) no-repeat;
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%), url(../img/backgraund.jpeg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.paste {
  background-color: #842871;
  padding-top: 20px;
  padding-bottom: 52px; }

.paste-icon {
  background-color: #842871;
  width: 6%;
  margin-bottom: -40px;
  margin-left: -40px;
  padding: 20px; }

a:-webkit-any-link {
  text-decoration: none; }

.paste-icon-danger {
  background-color: #00acc1;
  width: 6%;
  margin-bottom: -180px;
  margin-left: -45px;
  padding: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.paste-background {
  background: rgba(255, 255, 255, 0.5); }

.down {
  width: 70px;
  padding-top: 14%; }

.hero {
  width: 100%;
  height: 860px;
  position: relative;
  overflow: hidden; }

.hero-text {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  color: white; }

.hero-text h1 {
  font-size: 40px; }

.hero-text h3 {
  font-size: 20px; }

.hero-video {
  width: auto;
  height: 100%;
  position: absolute; }

.video-overlay {
  width: 100%;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  margin: 0;
  height: 100%;
  background: #FFAFBD;
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  background: -webkit-gradient(linear, left top, right bottom, from(#880e4f), color-stop(90%, #4a148c));
  background: -webkit-linear-gradient(left top, #880e4f, #4a148c 90%);
  background: -o-linear-gradient(left top, #880e4f, #4a148c 90%);
  background: linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  z-index: 1; }

video {
  -o-object-fit: contain;
     object-fit: contain; }

.logo {
  width: 300px;
  margin-top: 100px;
  padding: 10px; }

.scroll {
  font-size: 80px;
  text-align: center;
  padding-top: 14%; }

.lead {
  font-size: 16px; }

.block2 {
  background-color: white; }

.block3 {
  background: -webkit-linear-gradient(to right bottom, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/backgraund.jpeg) no-repeat;
  background: -webkit-gradient(linear, left top, right bottom, from(#880e4f), color-stop(90%, rgba(74, 20, 140, 0.6))), url(../img/backgraund.jpeg) no-repeat;
  background: -webkit-linear-gradient(left top, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/backgraund.jpeg) no-repeat;
  background: -o-linear-gradient(left top, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/backgraund.jpeg) no-repeat;
  background: linear-gradient(to right bottom, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/backgraund.jpeg) no-repeat;
  background: -webkit-linear-gradient(to right bottom, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/backgraund.jpeg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: white; }

.block4 {
  background-color: white; }

.block5 {
  background: -webkit-linear-gradient(to right bottom, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/gallery/ij-3.png) no-repeat;
  background: -webkit-gradient(linear, left top, right bottom, from(#880e4f), color-stop(90%, rgba(74, 20, 140, 0.6))), url(../img/gallery/ij-3.png) no-repeat;
  background: -webkit-linear-gradient(left top, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/gallery/ij-3.png) no-repeat;
  background: -o-linear-gradient(left top, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/gallery/ij-3.png) no-repeat;
  background: linear-gradient(to right bottom, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/gallery/ij-3.png) no-repeat;
  background: -webkit-linear-gradient(to right bottom, #880e4f, rgba(74, 20, 140, 0.6) 90%), url(../img/gallery/ij-3.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.block6 {
  background-color: white; }

.block8 {
  background-color: white; }

.block9 {
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  background: -webkit-gradient(linear, left top, right bottom, from(#880e4f), color-stop(90%, #4a148c));
  background: -webkit-linear-gradient(left top, #880e4f, #4a148c 90%);
  background: -o-linear-gradient(left top, #880e4f, #4a148c 90%);
  background: linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  -webkit-background-size: cover;
          background-size: cover; }

.block11 {
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  background: -webkit-gradient(linear, left top, right bottom, from(#880e4f), color-stop(90%, #4a148c));
  background: -webkit-linear-gradient(left top, #880e4f, #4a148c 90%);
  background: -o-linear-gradient(left top, #880e4f, #4a148c 90%);
  background: linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  background: -webkit-linear-gradient(to right bottom, #880e4f, #4a148c 90%);
  -webkit-background-size: cover;
          background-size: cover; }

.block-padding {
  padding-bottom: 40px; }

.sure {
  color: white;
  text-align: left; }

.structure {
  font-size: 24px; }

.advantages {
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 10px #00acc1 solid; }

.advantages-d {
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 10px #00acc1 solid; }

.advantages-title {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2; }

.advantages-lead {
  font-size: 14px;
  padding-bottom: 20px; }

.disciplines-title {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px; }

.test {
  margin-top: -45px;
  background-color: #00acc1;
  font-size: 40px;
  color: white;
  -webkit-border-radius: 50px 50px 50px 50px;
          border-radius: 50px 50px 50px 50px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mdl-chip {
  background-color: transparent; }

.mdl-button {
  width: 220px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 18px;
  color: white;
  text-transform: none;
  font-weight: 100;
  height: 40px;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-right: 10px;
  margin-bottom: 20px; }

.mdl-button.mdl-button--colored {
  background-color: #00acc1; }

.block0 {
  background: rebeccapurple; }

.quote-background {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(255, 255, 255, 0.1); }

.quote {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 28px;
  color: whitesmoke;
  line-height: 3rem;
  border: 1px solid whitesmoke;
  padding: 20px;
  background-color: transparent; }

.footer {
  background-color: #0b0b0b;
  color: white; }

.mdl-dialog {
  width: 50%; }

.close {
  background-color: gray; }

.mauticform_wrapper {
  max-width: 600px;
  margin: 10px auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #676767; }

.mauticform-name {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 3px; }

.mauticform-description {
  margin-top: 2px;
  margin-bottom: 10px; }

.mauticform-error {
  margin-bottom: 10px;
  color: red; }

.mauticform-message {
  margin-bottom: 10px;
  color: green; }

.mauticform-row {
  display: block;
  margin-bottom: 20px; }

.mauticform-label {
  font-size: 1.1em;
  display: block;
  font-weight: bold;
  margin-bottom: 5px; }

.mauticform-row.mauticform-required .mauticform-label:after {
  color: #e32;
  content: " *";
  display: inline; }

.mauticform-helpmessage {
  display: block;
  font-size: 0.9em;
  margin-bottom: 3px; }

.mauticform-errormsg {
  display: block;
  color: red;
  margin-top: 2px; }

.mauticform-selectbox, .mauticform-input, .mauticform-textarea {
  width: 100%;
  padding: 0.5em 0.5em;
  border: 1px solid #CCC;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px #fff inset;
          box-shadow: 0px 0px 0px #fff inset;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mauticform-checkboxgrp-label {
  font-weight: normal; }

.mauticform-radiogrp-label {
  font-weight: normal; }

.mauticform-button-wrapper .mauticform-button.btn-default {
  color: #5d6c7c;
  background-color: red;
  border-color: #dddddd; }

.mauticform-button-wrapper .mauticform-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3856;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
