.header
  background: linear-gradient(to bottom right, #bf3468, rgba(0,54,157,.7) 80%), url(../img/background.jpg) no-repeat
  background-size: cover

.scroll
  font-size: 80px
  text-align: center
  padding-top: 25%

.lead
  font-size: 18px

.block2
    background-color: white
    padding-bottom: 30px

.block3
  background: linear-gradient(to bottom right, #bf3468, rgba(0,54,157,.7) 100%), url(../img/background.jpg) no-repeat
  background-size: cover
  padding-bottom: 20px
  color: white

.block4
  background-color: white

.block5
  background: linear-gradient(to bottom right, #bf3468, rgba(0,54,157,.7) 100%), url(../img/background.jpg) no-repeat
  background-size: cover
  padding-bottom: 30px

.block6
  background-color: white

.block8
  background-color: white

.sure
  color: white
  text-align: left

.structure
  font-size: 24px

.advantages
  background-color: white
  color: black
  padding: 5px
  margin-top: 20px
  margin-bottom: 20px

.advantages-title
  padding-top: 20px
  font-size: 30px
  font-weight: 600
  line-height: 1.2

.advantages-lead
  font-size: 14px
  padding-bottom: 20px

.disciplines-title
  font-size: 16px
  font-weight: 400
  padding: 10px

.test
  margin-top: -45px
  background-color: #00acc1
  font-size: 40px
  color: white
  border-radius: 50px 50px 50px 50px
  padding: 12px
  box-sizing: border-box

.mdl-chip
  background-color: transparent

.mdl-button
  width: 220px
  box-shadow: none
  font-size: 18px
  color: white
  text-transform: none
  font-weight: 100
  height: 40px
  border-radius: 0

.quote
  background: linear-gradient(to top right, #bf3468, rgba(0,54,157,.8) 100%)
  color: whitesmoke

.footer
  background-color: #0b0b0b
  color: white

.mdl-dialog
  width: 50%